@font-face {
    font-family: 'DOS';
    src: url('fonts/Fixedsys500c.eot');
    src: url('fonts/Fixedsys500c.woff') format('woff'),
         url('fonts/Fixedsys500c.ttf') format('truetype'),
         url('fonts/Fixedsys500c.svg') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'nintender';
    src: url('fonts/nintender_wip-webfont.woff2') format('woff2'),
         url('fonts/nintender_wip-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
