// Bootstrap Button Variant

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
  @at-root {
    &.active,
    &:active,
    &:focus,
    &:hover,
    .open .dropdown-toggle#{&} {
      color: $color;
      background-color: darken($background, 10%);
      border-color: darken($border, 12%);
    }

    &.active,
    &:active,
    .open .dropdown-toggle#{&} {
      background-image: none;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] #{&} {
      &,
      &.active,
      &:active,
      &:focus,
      &:hover {
        background-color: $background;
        border-color: $border;
      }
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

// Background Features

@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

// Font Selections

@mixin serif-font {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin logo-font {
  font-family: "nintender", "Helvetica Neue", Helvetica, Arial, cursive;
}

@mixin body-font {
  font-family: "Courier New", Courier, monospace;
}

@mixin heading-font {
  text-rendering: optimizelegibility;
  font-family: DOS,SimHei,Monaco,Menlo,Consolas,'Courier New',monospace;
}
