{% extends "base.html" %} <!-- we're extending the base template -->

{% block title %}HOME{% endblock %}

{% block content %}
  {% include 'home/header.html' %}
  {% include 'home/about.html' %}
  {% include 'home/servicios.html' %}
  {% include 'home/portafolio.html' %}
  {% include 'home/equipo.html' %}
  {% include 'home/clientes.html' %}
  {% include 'contacto.html' %}
{% endblock %}

{% block modals %}
  {% set baseTemplate = 'home/modal.html' %}
  {% include 'home/servicios/envoltura.html' %}
  {% include 'home/servicios/enciclopiedra.html' %}
  {% include 'home/portafolio/osmapp.html' %}
  {% include 'home/portafolio/wikipiedra.html' %}
  {% include 'home/portafolio/hablemosquechua.html' %}
{% endblock %}
