{% extends baseTemplate %}

{% block id %}enciclopiedraModal{% endblock %}
{% block title %}Enciclopiedra{% endblock %}
{% block teaser %}
  <p>
    Un <b>sevidor offline</b> configurado según tus necesidades,
    que sirve contenidos vía WiFi local.
  </p>
  <p>
    En escuelas,
    ventanillas de atención, plazas, museos y sitios
    arquelógicos: <b>Tus usuarios navegan páginas web sin
    depender de una conexión</b>.
  </p>
{% endblock %}
{% block desc %}Lorem ipsum dolor sit amet consectetur.{% endblock %}
{% block icon %}bullseye{% endblock %}
{% block image %}startup-framework-preview.png{% endblock %} <!-- relativo a img/portfolio -->

{% block body %}
<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate,
  maiores repudiandae, nostrum, reiciendis facere nemo!</p>
<p>
  <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can
  purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
<ul class="list-inline">
  <li>Date: July 2014</li>
  <li>Client: Round Icons</li>
  <li>Category: Graphic Design</li>
</ul>
{% endblock %}
