{% extends baseTemplate %}

{% block id %}envolturaModal{% endblock %}
{% block title %}Envoltura{% endblock %}
{% block teaser %}
  Empaquetamos tus contenidos dentro de una app offline:
  <b>Audioguías, revistas, fotos, videos, libros, mapas,
  fotos360</b> y más. Así tus contenidos acompañan a tus
  lectores más allá de la conectividad. De viaje, con mala
  señal, sin plan de datos o en modo avión.
{% endblock %}
{% block desc %}Lorem ipsum dolor sit amet consectetur.{% endblock %}
{% block icon %}archive{% endblock %}
{% block image %}roundicons-free.png{% endblock %} <!-- relativo a img/portfolio -->

{% block body %}
<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate,
  maiores repudiandae, nostrum, reiciendis facere nemo!</p>
<p>
  <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can
  purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
<ul class="list-inline">
  <li>Date: July 2014</li>
  <li>Client: Round Icons</li>
  <li>Category: Graphic Design</li>
</ul>
{% endblock %}
