<section id="servicios">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Productos y servicios</h2>
        <!-- <h3 class="section-subheading text-muted">Intranerd basic toolkit</h3> -->
      </div>
    </div>
    <div class="row text-center">
      {% set baseTemplate = 'home/servicios/card.html' %}
      {% set servicios = ['envoltura','enciclopiedra'] %}
      {% for item in servicios %}
        {% set offset = '' %}
        {% if loop.first %}
          {% set offset = 'col-md-offset-2' %}
        {% endif %}
        {% include 'home/servicios/'+item+'.html' %}
      {% endfor %}
  </div>
</section>
