<div class="col-md-4 col-sm-6 portfolio-item">
  <a href="#{% block id %}{% endblock %}" class="portfolio-link" data-toggle="modal">
    <div class="portfolio-hover">
      <div class="portfolio-hover-content">
        <i class="fa fa-plus fa-3x"></i>
      </div>
    </div>
    <img src="img/portfolio/{%block thumb %}{% endblock %}" class="img-responsive" alt="">
  </a>
  <div class="portfolio-caption">
    <h4>{%block title %}{% endblock %}</h4>
    <p class="text-muted">{%block desc %}{% endblock %}</p>
  </div>
</div>
